/*TODO: This needs major work and rework!*/
1vw = 1% of viewport width
1vh = 1% of viewport height

#button_link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
}

/*Welcome*/
#main_img {
  width: 100vw;
  height: 50vw;
  background: url('/resources/dave_graff_pic.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Projects*/

#box-holder {
  padding: 3%;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.project-card {
  text-align: center;
  width: 25%;
  min-width: 250px;
  max-width: 300px;

  /*word-break: break-all;*/

  margin: 1%;
  border-radius: 1em;
}

.project-card h3 {
  color: black;
  font-weight: bold;
}

.project-card dd {
  margin: 0;
  padding: 5%;
  display: inline-block;
  vertical-align: middle;
}

.languageNote {
  margin-top: -15px;
  margin-bottom: 10px;
}