{% include "base.html" %}
</br></br></br>
<h1 style="padding-left: 1%;">About Me</h1>
<div class="show-on-page">
     <p>My name is David Graff. I’m a junior at SUNY Stony Brook studying Computer Science. In the past three years I’ve used Bash, C, CSS and HTML, Git, Java, Javascript, Perl, Python(Flask), MIPS Assembly, and MySQL - with a focus in Java and Git.</p>
     <p>I currently work in Stony Brook's Teaching Learning Lab as a Student Assistant/Coder. I hope to one day become a software engineer and help solve real world problems.</p>
     <p>I enjoy making new things, and I've also been fascinated by machine learning and artificial intelligence.</p>
     <br>
</div>
{% include "footer.html" %}