{% include "base.html" %}
</br></br></br>
<h1 style="padding-left: 1%;">Courses</h1>
<div class="show-on-page">
	<p>The following is a list of courses I've taken at SUNY Stony Brook that relate to computer science or software engineering. I have taken these descriptions from the Undergraduate Bulletin, which you can find <a href="https://www.stonybrook.edu/sb/bulletin/current/courses/browse/byabbreviation/">here</a>.</p> 

	<br><br>
	<div style="margin-top: -5px;">
		<h3>Teaching Assistant for CSE 114</h3>
		<h5><i>Spring 2019, CSE 475</i></h5>
		<p>Students assist faculty in teaching by conducting a recitation or laboratory section that supplements a lecture course. The student receives regularly scheduled supervision from the faculty instructor.</p>

		<br>
		<h3>Special Topics in Computer Science - Natural Language Processing</h3>
		<h5><i>Spring 2019, CSE 392</i></h5>
		<p>This course will introduce the algorithms and statistical techniques used for natural language processing, covering syntax (identifying structure), semantics (uncovering meaning), and applications (e.g. sentiment analysis, machine translation, and human language analysis). Students will be introduced to techniques in modern machine learning that power state-of-the-art NLP: deep learning (recursive neural networks, transformers) as well as discriminative learning (ridge regression, logistic regression). The course will have a substantial project component giving students first-hand experience developing language processing software for useful real-world problems. </p>

		<br>
		<h3>Systems Fundamentals II</h3>
		<h5><i>Spring 2019, CSE 475</i></h5>
		<p>This course will introduce C programming and essential concepts of operating systems, compilers, concurrency, and performance analysis, focused around several cross-cutting examples, such as memory management, error handling, and threaded programming.</p>

		<br>
		<h3>Legal, Social, and Ethical Issues in Information Systems</h3>
		<h5><i>Spring 2019, CSE 312</i></h5>
		<p>This course deals with the impact of computers on us as individuals and on our society. Rapid changes in computing technology and in our use of that technology have changed the way we work, play, and interact with other people. These changes have created a flood of new social and legal issues that demand critical examination. For example, technologies such as Gmail, Facebook, MySpace, along with music sharing sites and wikis create new social, ethical, and legal issues.</p>
		
		<br>
		<h3>Technical Communications</h3>
		<h5><i>Spring 2019, CSE 300</i></h5>
		<p>Principles of professional technical communications for Computer Science and Information Systems majors. Topics include writing business communications, user manuals, press releases, literature reviews, and research abstracts. Persuasive oral communications and effective presentation techniques, to address a range of audiences, will also be covered.</p>
		<br>
		<h3>Scripting Languages</h3>
		<h5><i>Fall 2018, CSE 337</i></h5>
		<p>Scripting languages are widely used in the IT industry. Programming with scripting languages, also known as scripting, has several advantages compared to programming with other types of languages in that scripts facilitate rapid program development; can automate high-level jobs or tasks very effectively; and can be used to compose various software components, even binaries, into more complex and powerful applications. This course introduces the principles of scripting, covers one or two selected scripting languages in depth, and illustrates the advanced use of scripting by extensive case studies in application areas such as system administration, web application development, graphical user interface development, and text processing.</p>
		<br>
		<h3>Principles of Database Systems</h3>
		<h5><i>Fall 2018, CSE 305</i></h5>
		<p>The design of database management systems to obtain consistency, integrity, and availability of data. Conceptual models and schemas of data: relational, hierarchical, and network. Students undertake a semester project that includes the design and implementation of a database system.</p>
		<br>
		<h3>Theory of Compuation</h3>
		<h5><i>Fall 2018, CSE 303</i></h5>
		<p>An introduction to the abstract notions encountered in machine computation. Topics include finite automata, regular expressions, and formal languages, with emphasis on regular and context-free grammars. Questions relating to what can and cannot be done by machines are covered by considering various models of computation, including Turing machines, recursive functions, and universal machines.</p>
		<br>
		<h3>Systems Fundamentals I</h3>
		<h5><i>Fall 2018, CSE 220</i></h5>
		<p>This course will introduce assembly language programming and essential concepts of computer organization and architecture. The focus of this course is on the computer organization of a computer system, including the processor architecture and the memory system. In particular, we will discuss the internal representation of information, performance evaluation methodology, instruction set architectures and implementation techniques for computer arithmetic, control path design, and pipelining.</p>
		<br>
		<h3>Analysis of Algorithms</h3>
		<h5><i>Spring 2018, CSE 373</i></h5>
		<p>Mathematical analysis of a variety of computer algorithms including searching, sorting, matrix multiplication, fast Fourier transform, and graph algorithms. Time and space complexity. Upper-bound, lower- bound, and average-case analysis. Introduction to NP completeness. Some machine computation is required for the implementation and comparison of algorithms.</p>
		<br>
		<h3>Computer Science III</h3>
		<h5><i>Spring 2018, CSE 219</i></h5>
		<p>Development of the basic concepts and techniques learned in CSE 114 Computer Science I and CSE 214 Computer Science II into practical programming skills that include a systematic approach to program design, coding, testing, and debugging. Application of these skills to the construction of robust programs of 1000 to 2000 lines of source code. Use of programming environments and tools to aid in the software development process.</p>
		<br>
		<h3>Calculus C</h3>
		<h5><i>Spring 2018, MAT 127</i></h5>
		<p>A continuation of MAT 126, covering: sequences, series, Taylor series, differential equations and modeling.</p>
		<br>
		<h3>Finite Mathematical Structures</h3>
		<h5><i>Winter 2018, AMS 301</i></h5>
		<p>An introduction to graph theory and combinatorial analysis. The emphasis is on solving applied problems rather than on theorems and proofs. Techniques used in problem solving include generating functions, recurrence relations, and network flows. This course develops the type of mathematical thinking that is fundamental to computer science and operations research.</p>
		<br>
		<h3>Linear Algebra</h3>
		<h5><i>Fall 2017, AMS 210</i></h5>
		<p>An introduction to the theory and use of vectors and matrices. Matrix theory including systems of linear equations. Theory of Euclidean and abstract vector spaces. Eigenvectors and eigenvalues. Linear transformations.</p>
		<br>
		<h3>Data Structures</h3>
		<h5><i>Fall 2017, CSE 214</i></h5>
		<p>An extension of programming methodology to data storage and manipulation on complex data sets. Topics include: programming and applications of data structures; stacks, queues, lists, binary trees, heaps, priority queues, balanced trees and graphs. Recursive programming is heavily utilized. Fundamental sorting and searching algorithms are examined along with informal efficiency comparisons.</p>
		<br>
		<h3>Fundamentals of Information Technology</h3>
		<h5><i>Fall 2017, ISE 218</i></h5>
		<p>This course introduces the fundamentals of Information Technology (IT) to students interested in the relationship between computer hardware, software, networks, and information systems. The course examines components found in high use computing devices such as desktop computers, smart phones, and navigation systems. The focus of the examination is understanding the underlying technology of each component, along with price/performance curves and competing technologies. Upon completion of the course, students should be proficient in reading device specifications, particularly functional and performance implications. Students should also be able to use that knowledge to compare competing devices.</p>
		<br>
		<h3>Foundations of Computer Science</h3>
		<h5><i>Summer 2017, CSE 215</i></h5>
		<p>Introduction to the logical and mathematical foundations of computer science. Topics include functions, relations, and sets; recursion and functional programming; elementary logic; and mathematical induction and other proof techniques.</p>
		<br>
		<h3>Introduction to Object-Oriented Programming</h3>
		<h5><i>Spring 2017, CSE 114</i></h5>
		<p>An introduction to procedural and object-oriented programming methodology. Topics include program structure, conditional and iterative programming, procedures, arrays and records, object classes, encapsulation, information hiding, inheritance, polymorphism, file I/O, and exceptions. Includes required laboratory.</p>
	</div>
</div>

{% include "footer.html" %}