{% include "base.html" %}
<section id="home" class="parallax-section">
     <div class="container">
               <div class="col-md-6 col-sm-6">
                    <div class="home-img"></div>
               </div>

               <div class="col-md-6 col-sm-6">
                    <div class="home-thumb">
                         <div id="home" class="section-title">
                              <h4>welcome to my website</h4>
                              <h1>Hi! I'm <strong>Dave Graff</strong></h1>
                         </div>
                    </div>
                    <div id="about" class="section-title">
                         <h1 style="padding-left: 4%;">About Me</h1>
                         <div style="padding: 5%;">
                         <p>My name is David Graff. I’m a student at SUNY Stony Brook studying Computer Science. I expect to graduate in May of 2020. In the past three years I’ve worked with Bash, C, CSS and HTML, Git, Java, Javascript, Perl, Python(Flask), MIPS Assembly, and MySQL - with a focus in Java and Git.</p>
                         <p>I currently work in Stony Brook's Teaching Learning Lab as a Student Assistant/Coder. I hope to one day become a software engineer and help solve real world problems.</p>
                         <p>I enjoy making new things, and I've also been fascinated by machine learning and artificial intelligence.</p>
                         </div>
                    </div>
                    <div style="text-align: center;">
                         <div class="wow fadeInUp footer-copyright" data-wow-delay="1.8s">
                              <p>David Graff 2019 | Design: <a href="http://www.google.com/+templatemo" target="_parent">templatemo</a></p>
                         </div>
                         <ul class="wow fadeInUp social-icon" data-wow-delay="2s">
                              <li><a href="https://www.linkedin.com/in/david-graff-503374135/" class="fa fa-linkedin"></a></li>
                         </ul>
                    </div>
               </div>
     </div>
</section>
