{% include "base.html" %}
</br></br></br>
	<h1 style="padding-left: 1%;">UFAQ</h1>
<div class="show-on-page">

	<h3><strong>What is a UFAQ?</strong></h3>
	<h5>Unfrequently asked questions! This where I'll answer all the questions you didn't ask.</h5>

	<h3><strong>How was this all made?</strong></h3>
	<h5>That's a great question!
	<br> <br>
	For starters, I knew that I didn't want to spend too much money on this, so I decided I would use a free service to host it. I ended up with PythonAnywhere, since they supported the framework I was used to (Flask). This comes with a few drawbacks, though. The most important of which is storage space. Due to that, I've taken a few measures to decrease the overall size of what needs to be stored:
	<br>
		<ul>
			<li>All images on this site are hosted in my Google Drive</li>
			<li>Information on my projects is pulled dynamically from GitHub</li>
			<li>The majority of this content is HTML and CSS</li>
		</ul>
	Thanks to all of that, I'm only paying for my domain name, which simply points to PythonAnywhere.
	<br> <br>
	Total cost: $12/Year
	</h5>

	<h3><strong>How did you make this so pretty?</strong></h3>
	<h5>Thanks! I actually used a template, you can find them <a href="https://www.free-css.com/free-css-templates">here</a>. <a href="{{ url_for('oldwebsite') }}"></br>I'm not too good at it myself...</a></h5>
</div>
{% include "footer.html" %}