<section id="about">
  <div id="about-description" class="split-screen color1">

    <h1>About me</h1>
    <blockquote><p>Never stop learning; when we stop learning, we stop growing.</p></blockquote>
    <div>
      <img src="assets/images/dave_graff_pic.jpg">
      <div>
        <p>My name is Dave Graff. I'm a newly minted Developer at FIS specializing in backend technologies. For me,
          programming is a way to express myselfas much as it is a job.</p>
        <p>I love working on real world problems, I love learning new things, and I am always ready for a new challenge.
        </p>
      </div>
    </div>

    <br>
    <br>
    <h3>What can I do for you?</h3>
  </div>

  <div id="about-experience" class="split-screen color2">
    <div class="experience">
      <span class="experience-header">
        <mat-icon [inline]="true">computer</mat-icon>
        <h1>Assistant Developer <small>June 2020 - Present</small></h1>
      </span>
      <p>I worked on a small scrum team of developers to design and implement an API and accompanying web application.
        We made use of Angular, Spring Boot, Maven, PL/SQL (Oracle database), and Flowable DMN.</p>
    </div>
    <div class="experience">
      <span class="experience-header">
        <mat-icon [inline]="true">computer</mat-icon>
        <h1>Student Assistant Coder <small>2018 Nov - 2019 Nov</small></h1>
      </span>
      <p>I created custom full stack applications to meet the needs of instructors and students alike. Notable examples
        include <a href="https://github.com/DaveGraff/aframe-glmol-component" target="_blank">GlMol</a> and <a
          href="https://github.com/DaveGraff/SBHoot" target="_blank">SBHoot</a>, which made use of Node.JS, JavaScript,
        MySql, and A-Frame.</p>
    </div>
    <div class="experience">
      <span class="experience-header">
        <mat-icon [inline]="true">school</mat-icon>
        <h1>B.S. Computer Science <small>2016 Aug - 2020 May</small></h1>
      </span>
      <p>I completed my 4 year degree at Stony Brook University, maintaining a 3.1 GPA. You can find my full course list
        <a href="/courses">here.</a></p>
    </div>
  </div>
</section>