<app-dashboard></app-dashboard>

<section id="home">
    <div id="imageWrap">
        <img src="assets/images/background2.jpg">
    </div>
    
    <div id="mainContent">
        <h1>Hi, I'm Dave.</h1>
        <h4>Welcome to my website</h4>
        <button id="getStarted" (click)="getStarted()">Get Started</button>
    </div>
</section>

<div id="about-anchor" class="anchor"></div>
<app-about></app-about>

<div id="contact-anchor" class="anchor"></div>
<app-contact id="contact"></app-contact>

<app-footer></app-footer>