{% include "base.html" %}
</br></br></br>
<h1 style="padding-left: 1%;">About Me</h1>
<div class="show-on-page">
     <p>I am a current student at Stony Brook University majoring Computer Science. I expect to graduate in May 2020. I'd like to be a Software Engineer when I graduate, but I still have a lot to learn!</p>
     <p>I'm particularly interested in making new things projects, and I've also been fascinated by machine learning and artificial intelligence.</p>
</div>
{% include "footer.html" %}