{% include "base.html" %}
</br></br></br>
<style type="text/css">
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		max-width: 350px;
		min-width: 300px;
		transition: 0.3s;
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin: 10px;
		width: 20%;
		background-color: lightgreen;
		border-radius: 1rem;
		position: relative;
	}

	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	.containerzz {
	  padding: 8px 16px;
	}
	.super_container {
		overflow-x: hidden;
 		overflow-y: auto;
  		display: flex;
  		flex-direction: row;
  		flex-flow: wrap;
	}

	.title {
		font-size: 2rem;
		position: absolute;
		top: 4%;
		left: 4%;
	}

	.ending {
		position: absolute;
		bottom: 4%;
		left: 4%;
	}
</style>
<h1 style="padding-left: 1%;">My Projects</h1>
<div class="super_container">
{% for project in projects %}
	{% if loop.index % 4 == 1 %}
		<div class="card"><div class="containerzz"><div class="title"><a href="https://github.com/DaveGraff/{{ project }}">{{ project }}</a></div>
	{% elif loop.index % 4 == 3 %}
		</br></br><div class="ending">{{ project }}, 
	{% elif loop.index % 4 == 0 %}
		{{ project }}</div></div></div></br>
	{% else %}
		</br>{{ project }}
	{% endif %}
{% endfor %}
</div>
{% include "footer.html" %}