{% include "base.html" %}
</br></br></br>
	<h1 style="padding-left: 1%;">UFAQ</h1>
<div class="show-on-page">

	<h3><strong>What is a UFAQ?</strong></h3>
	<h5>Unfrequently asked questions! This where I'll answer all the questions you didn't ask.</h5>

	<h3><strong>This looks nice! How did you do it?</strong></h3>
	<h5>Thanks! I actually used a template, you can find them <a href="https://www.free-css.com/free-css-templates">here</a>. <a href="{{ url_for('oldwebsite') }}"></br>I'm not too good at it myself...</a></h5>


</div>
{% include "footer.html" %}